*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    
  }
  nav{
    background: #0082e6;
    height:100%;
    width: 100%;
    position: sticky;
  }
  label.ditail{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
  }
  nav ul{
    float:right;
    margin-right: 20px;
  }
  nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 30px;
    color: white;
    text-transform: uppercase;
  }
  nav ul li a{
    color: white;
  }
  .list li{
    margin-top:10px ;
    text-decoration: none;
    
  }
  .list li :hover{
    border: 0px;
    color: #abcee9;
  }
  .body{
    background-image: url(/images/doki.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* filter: brightness(20%); */
    height: 500px;
    width: 1348px;
  }
  .body header{
    color: rgb(255, 255, 255);
    display: flex;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
  }
  .body section button{
    background-color:transparent;
    color: #003e6d;
    border:1px solid #0082e6 ;
    border-radius: 2px;
    height:100%;
    width: 20%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    transition: 0.8s;
    padding: 20px;
    float: left;
  }
  h1{
    justify-content: center;
    text-align: center;
  }
  .buttons{
    justify-content: center;
    text-align: center;
    
  }
  .buttons :hover{
    background-color: rgb(0, 174, 255);
    color: white;
    transition-delay: 2ms;
    border-radius:0%  40% 40% 0%;
    border: 1px solid white;
  }
  
  .footer{
    background-color: #0082e6;
    padding: 70px 0;
    
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
  }
  .footer-col{
    list-style-type: none;
    color: white;
    width: 25%;
    padding:0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #081030;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: yellow ;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom:10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color:rgb(255, 255, 255);
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    padding-left: 10px;
    color:rgb(1, 11, 99);
  }
  .footer .socials a{
    display:inline-block;
    height: 60px;
    width: 60px;
    background-color: rgb(0, 140, 255);
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    color: white;
    transition: all 0.3s ease;
    border-radius: 50%;

  }
  .footer .socials a:hover{
    border-radius: 15px;
    background-color: white;
    color:rgb(0, 140, 255) ;
  }
  @media(max-width:767px){

  }
 .forms{
  filter: rgb(187, 187, 255);
  background-image: url(/images/johnsalvino.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }
 .register{
  border: 5px solid rgb(243, 243, 243);
  border-radius: 10px;
  height: 500px;
  width: 70%;
  margin-left: 15%;
  
  display: grid;
  backdrop-filter: blur(5px);
 }
 .register input{
  width:50%;
  margin-left: 40%;
  
 }
 .register h3{
  margin-left: 40%;
 }
 .register button{
  width: 30%;
  margin-left:40% ;
 }
 .register label{
  color: white;
 }